#app {
	text-align: center
}

.dates p {
	display: inline-block;
	
}

.dates {
	background-color: #74ADC8;
}

.marker {
	cursor: pointer;
	color: #0A4B6B;
}

.marker:Hover {
	color: red;
	
}



.liszt:Hover {
	color: #1a0dab;
	text-decoration: underline;
}

.input {
	width: 100%;
}

#underline {
	text-decoration: underline;
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 30px;
	color: black;
	font-family: 'Oswald';
}








.clear {
	background: url('https://cdn.suwalls.com/wallpapers/nature/bright-sun-in-the-clear-sky-above-the-mountain-lake-53554-1920x1200.jpg') top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	
}

.clouds {
		background: url('/images/cloudImage.jpg') top left no-repeat; 
	   background-size: cover;
	background-attachment: fixed;
}

.rain {
	background: url('/images/rain.jpg') top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.thunder {
	background: url('images/storm.jpg') top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.snow {
	background: url('images/snowing.jpg') top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.mist {
	background: url('images/mist.jpg') top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.haze {
	background: url('images/haze.jpg') top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.overCast {
	background: url('images/overcast.jpg') top left no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#h1temp{
	font-size: 50px;
}
